* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    background : #333;
    color: white;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    font-size: 0.5em;
}
a {
    padding: 30px;
    font-size: 1em;
    text-decoration-line: none;
    color: white;
}

.search {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: grey;
}

input {
    padding: 10px;
}

button {
    padding: 20px 50px;
}

.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#news-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#result {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

li {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
    padding: 40px;
    background: white;
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    position: relative;
    float: left;
    width:  400px;
    height: 400px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    padding: 20px;
}

body {
    background: silver;
}

h5 {
    padding: 20px;
    font-style: italic;
}

li a {
    background-color: #333; /* Green */
    border: none;
    color: white;
    padding: 15px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
}